{%extends "layout.html" %}
{% block content %}
    <h1>Book List</h1>
    <p>
        You can choose to filter based on genre(s)!
    </p>
    <form method="POST">
        {% for i in genres %}
            {{ i }}<input type="checkbox" value={{i}} name="genre_checkbox">
        {% endfor %}
        <input type="submit">
    </form>
    <p></p>
    {% for i in books %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ i['authors'] }}</a>
                <small class="text-muted">{{ i['publisher'] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('books', title = i['title'])}}">{{ i['title'] }}</a></h2>
            <p class="article-content">{{ "ISBN10: " + i['isbn10'] + ", Genre: " + i['genre']}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}
 
