{%extends "layout.html" %}
{% block content %}
    <h1>Book List</h1>
    {% for i in books %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ i['authors'] }}</a>
                <small class="text-muted">{{ i['publisher'] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('books', title = i['title'])}}">{{ i['title'] }}</a></h2>
            <p class="article-content">{{ "ISBN10: " + i['isbn10'] + ", Genre: " + i['genre']}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}
 
{% block filter %}
    <h5>Let's get specific!</h5>
    <form method="POST">
        <label for="title-search">Search title:</label>
        <input type="search" id="title-search" name="title_search">
        <br>
        <h6>Order by title</h6>
        <input type="radio" value="ASC" name='order_radio' >A -> Z
        <br>
        <input type="radio" value="DESC" name='order_radio' >Z -> A
        <br>
        <h6>Order by popularity</h6>
        <input type="radio" value="DESC" name='pops_radio' >Most popular
        <br>
        <input type="radio" value="ASC" name='pops_radio' >Least popular
        <br>
        <h6>Filter by genre</h6>
        {% for i in genres %}
            <input type="checkbox" value={{i}} name="genre_checkbox">{{ i }}
            <br>
        {% endfor %}
        
        <input type="submit" value="Apply Filter">
        <input type="reset" >
    </form>
{% endblock filter %}
