{%extends "layout.html" %} 
{% block content %}
    <div class = "content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete an existing book</legend>
                <div class="form-group">
                    {{ form.isbn10.label(class="form-control-label") }}
                    {% if form.isbn10.errors %}
                        {{ form.isbn10(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.isbn10.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.isbn10(class="form-control form-control-lg") }}
                    {% endif %}  
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%}

{% block filter %}
    <i>
        “You can get lost in any library, no matter the size. But the more lost you are, the more things you'll find.”
    </i>
    <p>―Millie Florence, Lydia Green Of Mulberry Glen</p>
{% endblock filter %}