{%extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    {% for i in post %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ i['owner'] }}</a>
                <small class="text-muted">{{ i['date_posted'] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id = i['post_id']) }}">{{ i['title'] }}</a></h2>
            <p class="article-content">{{ "Post ID: " + i['post_id'] + ", ISBN10: " + i['isbn10'] + ", Availability: " + i['availability']}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}

{% block filter %}
    <h5>Let's get specific!</h5>
    <form method="POST">
        <h6>Search title</h6>
        <input type="search" id="title-search" name="title_search">
        <br>
        <br>
        <h6>Filter by availability</h6>
        <input type="radio" value="True" name='avail_radio' > Available
        <br>
        <input type="radio" value="False" name='avail_radio' > Unavailable
        <br>
        <br>
        <h6>Order by title</h6>
        <input type="radio" value="ASC" name='order_radio' > A -> Z
        <br>
        <input type="radio" value="DESC" name='order_radio' > Z -> A
        <br>
        <br>
        <h6>Order by date posted</h6>
        <input type="radio" value="DESC" name='date_radio' > Newest -> Oldest
        <br>
        <input type="radio" value="ASC" name='date_radio' > Oldest -> Newest
        <br>
        <br>    
        <input type="submit" value="Apply Filter">
        <input type="reset" value="Clear" >
    </form>
{% endblock filter %}