<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Group 08" />

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        {% if title %}
        <title>Book Posts - {{ title }}</title>
        {% else %}
        <title>Book Posts</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">Book Posts</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarToggle"
                        aria-controls="navbarToggle"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                            <a class="nav-item nav-link" href="{{ url_for('books') }}">Books</a>
                            <a class="nav-item nav-link" href="{{ url_for('stats') }}">What's Hot</a>
                            {% if current_user.is_authenticated %}
                              <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                              <a class="nav-item nav-link" href="{{ url_for('borrow') }}">Borrow</a>
                              <a class="nav-item nav-link" href="{{ url_for('return_post') }}">Return</a>
                            {% endif %}
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                              {% if current_user.id == 'group8@admin.nus' %}
                                <a class="nav-item nav-link" href="{{ url_for('manage') }}">Manage</a>
                              {% endif %}
                              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                            {% else %} 
                              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %} 
                  {% endif %} 
                {% endwith %}
                {% block content %}
                {% endblock %}
              </div>
              <div class="col-md-4">
                <div class="content-section">
                  {% block filter %}
                  {% endblock %}
                </div>
              </div> 
            </div>
 
          </main>
          

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
              Template formats and css are in credit to Corey M Schafer and taken from his github CoreyMSchafer under code_snippets.
              Tech stack: Python, SQL Alchemy HTML, & CSS.
              Special thank you to our TA Medhi and Prof Stephan :D
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Contributors</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Chen Lei</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Goh Ming  Wee</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Tang Jiayue</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Veronica Angelin Setiyo</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Github Repository</a></li>
              <li><a href="http://scanfcode.com/contact/">Project Report</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Demo Video</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text"> A project of IT2002 by Group 8 @National University of Singapore
            </p>
          </div>
        </div>
      </div>
  </footer>
</html>
