{%extends "layout.html" %}
{% block content %}
    <h1>Manage the books</h1>
    <article class="media content-section">
        <div class="media-body">
        <h2><a class="article-title" href="{{ url_for('add_book') }}">Add a Book</a></h2>
    </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
        <h2><a class="article-title" href="#">Update a Book's details</a></h2>
    </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
        <h2><a class="article-title" href="{{ url_for('delete_book') }}">Remove a Book</a></h2>
    </div>
    </article>

{% endblock content%}