{%extends "layout.html" %}
{% block content %}
    <h1>Books available for return</h1>
    {% for i in post %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ i['owner'] }}</a>
                <small class="text-muted">{{ i['date_posted'] }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id = i['post_id']) }}">{{ i['title'] }}</a></h2>
            <p class="article-content">{{ "Post ID: " + i['post_id'] + ", ISBN10: " + i['isbn10'] + ", Availability: " + i['availability']}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}
 
{% block filter %}
    <i>
        “Reading is an active, imaginative act; it takes work.”
    </i>
    <p>―Khaled Hosseini</p>
{% endblock filter %}
