{%extends "layout.html" %}
{% block content %}
    <h1>WHAT'S HOT</h1>
    <article class="media content-section">
        <div class="media-body">
        <h2><a id="1" class="article-title" href="#">{{ "Top 5 Most Popular Books" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['most_pop_books'] %} {{ i }} 
        {% endfor %} </p> 
    </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="2" class="article-title" href="#">{{ "Top 5 Most Popular Authors" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['most_pop_authors'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="3" class="article-title" href="#">{{ "Top 5 Most Popular Genres" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['most_pop_genres'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="4" class="article-title" href="#">{{ "Top 5 Most Avid Borrowers" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['top_borrowers'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="5" class="article-title" href="#">{{ "Top 5 Most Avid Lenders" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['top_lenders'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="6" class="article-title" href="#">{{ "Most Active Lender for Each Genre" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time" }}</a>
        </div>
        <p class="article-content">{% for i in stats['lends_most'] %} {{ i + ": " + stats['lends_most'][i][0][0] }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="7" class="article-title" href="#">{{ "Top 5 Most Frequently Posted Books" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['frequently_posted'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="8" class="article-title" href="#">{{ "Books Borrowed for the Longest Time" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time, desc." }}</a>
        </div>
        <p class="article-content">{% for i in stats['longest'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
        <h2><a id="9" class="article-title" href="#">{{ "Books Borrowed for the Shortest Time" }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ "All time" }}</a>
        </div>
        <p class="article-content">{% for i in stats['shortest'] %} {{ i }} 
        {% endfor %} </p>
        </div>
    </article>

{% endblock content%}

{% block filter %}
    <h5>Jump to Juicy Content</h5>
    <a href="#1">Top 5 Most Popular Books</a><br>
    <a href="#2">Top 5 Most Popular Authors</a><br>
    <a href="#3">Top 5 Most Popular Genres</a><br>
    <a href="#4">Top 5 Most Avid Borrowers</a><br>
    <a href="#5">Top 5 Most Avid Lenders</a><br>
    <a href="#6">Most Active Lender for Each Genre</a><br>
    <a href="#7">Top 5 Most Frequently Posted Books</a><br>
    <a href="#8">Books Borrowed for the Longest Time</a><br>
    <a href="#9">Books Borrowed for the Shortest Time</a>
{% endblock filter %}