{%extends "layout.html" %} 
{% block content %}
    <div class = "content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update a Book</legend>
                <div class="form-group">
                    {{ form.isbn10.label(class="form-control-label") }}
                    {% if form.isbn10.errors %}
                        {{ form.isbn10(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.isbn10.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.isbn10(class="form-control form-control-lg") }}
                    {% endif %}  
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%}

{% block filter %}
    <i>
        “In principle and reality, libraries are life-enhancing palaces of wonder.”
    </i>
    <p>―Gail Honeyman, Eleanor Oliphant Is Completely Fine</p>
{% endblock filter %}